@using AnimalRepair.BLL.DTO;
@model Animal_Repair.Models.ProductIndexModel

@{
    ViewData["Title"] = "Index";
    var names = Model.Products;
}
<p>Фильтрация</p>
<ul class="filtrBox">
    @foreach (KindOfProductDTO kind in Model.KindOfProducts)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"
               asp-route-kindOfProductId="@Url.Content(kind.Id.ToString())">@Url.Content(kind.Name)</a>
        </li>
    }

</ul>
<p>
    <a a class="nav-link text-dark" asp-action="Create" asp-controller="Product">Create New</a>
</p>
<div class="cards">
    @foreach (var item in Model.Products)
    {
        <div class="cardItem">
            <img class="Cardimg" src="@Url.Content(item.Picture)" height="100" width="200" alt="not found" />
            <p>
                @Html.DisplayFor(modelItem => item.KindOfProductName)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Price)
            </p>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id" asp-route-GenderName="@item.Name" asp-route-KindOfAnimalName="@item.Name">Details</a>
            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-picture="@item.Picture">Delete</a>
        </div>
    }
</div>
