@using AnimalRepair.BLL.DTO;
@model Animal_Repair.Models.AnimalIndexModel

@{
    ViewData["Title"] = "Index";
    var names = Model.Animals;
}
<p>Фильтрация</p>
<ul class="filtrBox">
    @foreach (KindOfAnimalDTO kind in Model.KindOfAnimals)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Animal" asp-action="Index"
            asp-route-kindOfAnimalId="@Url.Content(kind.Id.ToString())">@Url.Content(kind.Name)</a>
        </li>
    }
    
</ul>
<p>
    <a a class="nav-link text-dark" asp-action="Create" asp-controller="Animal">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Дата рождения</p>
            </th>
            <th>
                <p>Описание</p>
            </th>
            <th>
                <p>Фото</p>
            </th>
            <th>
                <p>Пол</p>
            </th>
            <th>
                <p>Тип</p>
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IdOrderNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Animals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src= "@Url.Content(item.Picture)" height="40" width="100" alt="Картинка не найдена"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfAnimalName)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.IdOrderNavigation.Date)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
