@model IEnumerable<AnimalRepair.BLL.DTO.AnimalDTO>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IdGenderNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKindOfAnimalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrderNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.IdGenderNavigation.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKindOfAnimalNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrderNavigation.Date)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
